{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'myJXN/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>    
    <div id="app">
        <form action="{% url 'myJXN:report' %}" method="post" style="color: blue;" enctype="multipart/form-data">        
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Submit</button>
        </form><br/><br/>
        
        
        <br/><br/><br/>
        <!-- leaflet map -->
        <div id="map" style="height: 500px; width: cover;"></div>       
    </div>
    
    <script>
    let app = new Vue({
        el: '#app',
        delimiters: ['${','}'],
        data:{
            message: 'hello world!',
            djangoapi: [],
        },
        methods:{
            sayHello: function(){
                console.log(this.message)
            },
            loadAPI: function(){
                axios({
                    methods: 'get',
                    url: 'http://127.0.0.1:8000/myJXN/v1/',
                    headers: {
                    //   'Authorization': '48d0bddf-6f20-4781-8f62-b004b4095c87',
                    },
                }).then(response =>{
                    this.djangoapi = response.data
                    console.log(this.djangoapi[0])
                    for(let obj in this.djangoapi){
                        let objlat = this.djangoapi[obj].lat;
                        let objlon = this.djangoapi[obj].lon;
                        let title = this.djangoapi[obj].description;
                        let picture = this.djangoapi[obj].picture;
                        objlat = parseFloat(objlat)
                        objlon = parseFloat(objlon)                        
                        var markerOptions = {
                            title: this.djangoapi[obj].description,
                            clickable: true,
                        }
                        var marker = L.marker([objlat, objlon], markerOptions);
                        marker.addTo(map).bindPopup(title + "<br/><img src=" + picture + " height='300' width='auto'/>",{maxWidth: "auto"});
                        console.log(`${this.djangoapi[obj].id} ${this.djangoapi[obj].description}`);
                    }
                })
                    
            },
        },
            mapRefresh: function(){
                map.panTO([32.308, -90.194])
            },
        
        created: function(){
            this.loadAPI()
        },
    })
    </script>
    <script src="{% static 'myJXN/report.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>